<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1">		
        <link href="http://taitems.github.io/jQuery.Gantt/css/style.css" type="text/css" rel="stylesheet">
        <link href="http://taitems.github.com/UX-Lab/core/css/prettify.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" />
        <link rel="stylesheet" href="http://taitems.github.com/UX-Lab/core/css/prettify.css" />


		<style type="text/css">
			body {
				font-family: Helvetica, Arial, sans-serif;
				font-size: 13px;
				padding: 0px;
				margin: 0px;
			}
			.contain {
				width: 800px;
				margin: 0px;
				padding: 0px
			}
			.leftPanel{
				width: 50px;
			}
			h1 {
				margin: 40px 0 20px 0;
			}
			h2 {
				font-size: 1.5em;
				padding-bottom: 3px;
				border-bottom: 1px solid #DDD;
				margin-top: 50px;
				margin-bottom: 25px;
			}
			table th:first-child {
				width: 150px;
			}
      /* Bootstrap 3.0 re-reset */
      .fn-gantt *,
      .fn-gantt *:after,
      .fn-gantt *:before {
        -webkit-box-sizing: content-box;
           -moz-box-sizing: content-box;
                box-sizing: content-box;
      }
		</style>
    </head>

  <script>
		function resize(className, width)
		{

			var elements = document.getElementsByClassName(className), i;

			for (var i = 0; i < elements.length; i ++) {
			    elements[i].style.width = width + "px";
			}
		}


		function hideClass(className)
		{
			var elements = document.getElementsByClassName(className), i;

			for (var i = 0; i < elements.length; i ++) {
			    elements[i].style.display = 'none';
			}
		}

		function showClass(className)
		{
			var elements = document.getElementsByClassName(className), i;

			for (var i = 0; i < elements.length; i ++) {
			    elements[i].style.display = 'block';
			}
		}


		function showCurrentDay()
		{
			moveToToday();
			setTimeout(function(){moveToToday()},100);
			setTimeout(function(){moveToToday()},500);
			setTimeout(function(){moveToToday()},900);

		}

		function moveToToday()
		{
			var elements = document.getElementsByClassName("nav-link nav-next-week"), i;

			for (var i = 0; i < elements.length; i ++) {
			    elements[i].click();
			}

		}

  </script>

    <body {% if preloadGantt %} onload="document.simForm.submit(); showClass('loading');" {% else %} onload="hideClass('loading');" {% endif %}>

    	<div class="loading">
    		<h2>Currently performing the simulation... wait please...</h2>
    	</div>

		<div class="contain">
			{% if ganttJsonLink %}			
				<div class="gantt" style="width: 750px"></div>
			{% endif %}
		</div>

    	<div class="contain">
    		<h3>Simulate the room behavior</h3>
	    	<form method="POST" action="{{request.path}}" name="simForm" onsubmit="showClass('loading')">
	    		There is someone in the room from  
				<select name="occupancyTimeRangeFrom"><option>00:00 AM</option> <option>01:00 AM</option> <option>02:00 AM</option> <option>03:00 AM</option> <option>04:00 AM</option> <option>05:00 AM</option> <option>06:00 AM</option> <option>07:00 AM</option> <option>08:00 AM</option> <option>09:00 AM</option> <option>10:00 AM</option> <option>11:00 AM</option> <option>12:00 PM</option> <option>01:00 PM</option> <option>02:00 PM</option> <option>03:00 PM</option> <option>04:00 PM</option> <option>05:00 PM</option> <option>06:00 PM</option> <option>07:00 PM</option> <option>08:00 PM</option> <option>09:00 PM</option> <option>10:00 PM</option> <option>11:00 PM</option></select>
				to
				<select name="occupancyTimeRangeTo"><option>00:00 AM</option> <option>01:00 AM</option> <option>02:00 AM</option> <option>03:00 AM</option> <option>04:00 AM</option> <option>05:00 AM</option> <option>06:00 AM</option> <option>07:00 AM</option> <option>08:00 AM</option> <option>09:00 AM</option> <option>10:00 AM</option> <option>11:00 AM</option> <option>12:00 PM</option> <option>01:00 PM</option> <option>02:00 PM</option> <option>03:00 PM</option> <option>04:00 PM</option> <option>05:00 PM</option> <option>06:00 PM</option> <option>07:00 PM</option> <option>08:00 PM</option> <option>09:00 PM</option> <option>10:00 PM</option> <option>11:00 PM</option></select>
	    		 <br>
	    		The room temperature is  
				<select name="roomTemperature"><option>60F</option><option>61F</option><option>62F</option><option>63F</option><option>64F</option><option>65F</option><option>66F</option><option>67F</option><option>68F</option><option>69F</option><option>70F</option><option>71F</option><option>72F</option><option>73F</option><option>74F</option><option>75F</option><option>76F</option><option>77F</option><option>78F</option><option>79F</option><option>80F</option><option>81F</option><option>82F</option><option>83F</option><option>84F</option><option>85F</option><option>86F</option><option>87F</option><option>88F</option><option>89F</option><option>80F</option><option>81F</option><option>82F</option><option>83F</option><option>84F</option><option>85F</option><option>86F</option><option>87F</option><option>88F</option><option>89F</option></select>
	    		 <br>
	    		The external temperature is 
	    		<select name="externalTemperature"><option>60F</option><option>61F</option><option>62F</option><option>63F</option><option>64F</option><option>65F</option><option>66F</option><option>67F</option><option>68F</option><option>69F</option><option>70F</option><option>71F</option><option>72F</option><option>73F</option><option>74F</option><option>75F</option><option>76F</option><option>77F</option><option>78F</option><option>79F</option><option>80F</option><option>81F</option><option>82F</option><option>83F</option><option>84F</option><option>85F</option><option>86F</option><option>87F</option><option>88F</option><option>89F</option><option>80F</option><option>81F</option><option>82F</option><option>83F</option><option>84F</option><option>85F</option><option>86F</option><option>87F</option><option>88F</option><option>89F</option></select>
	    		<br>
	    		and the weather is  
	    		<select name="weather"><option>Sunny</option><option>Rainy</option><option>Cloudy</option></select>
	    		<br>
	    		<input type="submit" value="Show me the room status!">
	    	</form>
    	</div>




    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
	<script src="{{url_for('static', filename='gantt/js/jquery-ui-1.8.20.custom.min.js')}}"></script>
	<script src="{{url_for('static', filename='gantt/js/jquery.cookie.js')}}"></script>
	<script src="http://taitems.github.io/jQuery.Gantt/js/jquery.fn.gantt.js"></script>
	<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"></script>
	<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-popover.js"></script>
	<script src="http://taitems.github.com/UX-Lab/core/js/prettify.js"></script>

  <script>
		$(function() {

			"use strict";


			$(".gantt").gantt({
				
				source: "{{ganttJsonLink}}",				
				dow : ["S", "M", "T", "W", "T", "F", "S"],
				months : ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
				navigate: "scroll",	
				maxScale: "hourshours	",
				scale: "hours",
				itemsPerPage: 20,
				onItemClick: function(data) {
					alert("Item clicked - show some details");
				},
				onAddClick: function(dt, rowId) {
					//alert("Empty space clicked - add an item!");
				},
				onRender: function() {
					if (window.console && typeof console.log === "function") {
						console.log("chart rendered");
						showCurrentDay();
						//hideClass("row header year");
						//hideClass("row header month");
						//vhideClass("row date wd");
						//hideClass("row date sn");
						showCurrentDay();
						resize("gantt", 1200);
						resize("leftPanel", 150);
						resize("rightPanel", 1000-150);
						
						
					}
				}
			});

			$(".gantt").popover({
				//selector: ".bar",
				//title: "I'm a popover",
				//content: "And I'm the content of said popover.",
				//trigger: "hover"
			});

			prettyPrint();

		});
  </script>


    </body>
</html>
