{% extends "layout.html" %}
{% block body %}
  
  		<br>
  		<br>
  		

	<div class="container" align="center">
        <img src="http://www.alessandronacci.it/energybox/buildingrules/survey/images/buildingRules_logo.png">
        <br>
        <br>

        <p class="lead">
            <iframe width="853" height="480" src="//www.youtube.com/embed/oRs51oq8LvQ?rel=0" frameborder="0" allowfullscreen></iframe>     
        </p>

        <br>

        <p class="lead">
          Smart Buildings want their user to be part of the decision process about the environment behavior. To make this possible, user custom policies expression has to be simple and intuitive. On the other hand, it requires a big behind the scenes effort to avoid conflicts and potentially dangerous situation. This project would implement a easy-to-use interface to let the users express their own needs about the building while resolving at the same time all the possibile existing conflicts.          
        </p>

        <br>
        <br>

        <a class="btn btn-lg btn-success" href="/login">Login into BuildingRules!</a>
        <a class="btn btn-lg btn-success" href="/register">Register to the BuildingRules experiment!</a>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        
    </div>

{% endblock %}
