{% extends "layout.html" %}
{% block body %}
  <h2>Login</h2>

  <br>

  {#
  <div class="alert alert-block">
    <h4>Our current time is {{currentDatetime}}</h4>
    <h4>If you login now, you have to accomplish the first task before OUR midnight.</h4>
  </div>
  #}

  <form action="{{ url_for('gui.login') }}" method=post>
    <dl>
      <dt>Username:
      <dd><input type=text name=username>
      <dt>Password:
      <dd><input type=password name=password>
      <dd><input type=submit value=Login>
    </dl>
  </form>



  <br>
  <br>



{% endblock %}
