{% extends "layout.html" %}
{% block body %}
  
    <div class="container">

        <p class="lead">
        <h1>Research Experiment Information!</h1>
        </p>

        <br>
        <br>

        <p>We are conducting an academic experiment to gauge the ease of use of a new technology to manage Smart Buildings. The technology is a web application that allows you to specify policies you would want in your office. You can set policies like turn on office lights when it is raining, or turn on cooling when temperature is 75F. The software makes sure that you don't conflict other employees in the office or the policies set by the building manager. A more detailed explanation is given by a small video when you start the survey.
        Select the link below to participate in the experiment.  This is a 7 day long experiment, where you will be participating for about 10 minutes each day. At the end of the participation on each day, you will receive a code to paste into the boxes below to receive credit for taking our survey.  After all 7 days have been completed, and we verify that your rules are realistic, we will send you a 10$ Amazon Gift Card.</p>

        <br>
        <br>


        <strong style="color: rgb(178, 34, 34); line-height: 1.6em;">WARNING: Read carefully this disclaimer!</strong>

        <ul>
            <li>When you finish your daily task, you'll recieve a code you have to save. </li>
            <li>You need 7 codes to get paid at the end of the experiment week. </li>
            <li>The timezone cosidered for each experiment day is GMT-8</li>
            <li>You can partecipate to the experiment if you have worked for at least one month in a office (or university laboratory)</li>
            <li>You can register the experiment just ONCE. Multiple accounts are not allowed and will not be paid.</li>
        </ul>


        <br>
        <br>

        <strong style="color: rgb(178, 34, 34); line-height: 1.6em;">How to start the experiment</strong>
        <p>To start the experiment, you have to do the following step:<p>

        <ol>
             <li>Visit this link: http://buildingrules.ucsd.edu</li>
             <li>Watch the video</li>
             <li>Register to the web-app (as soon you do the registration, you have to do the first day task)</li>
             <li>Login </li>
             <li>Watch another short video to understand how to use the app</li>
             <li>Do the suggested number of actions per day to obtain the proof of work (a randomly generated code)</li>
             <li>After you get 7 proof of works, complete this form below on the last day of the experiment.</li>
        </ol>

        <p>If you have any question, please contact us at: <a href="mailto:energybox.buildingrules@gmail.com">energybox.buildingrules@gmail.com</a></p>

        <br>
        <br>

        <p>
        <strong style="color: rgb(178, 34, 34); line-height: 1.6em;">WORK PROOF:</strong>

        <br>
        At the end of the experiment (at the end of the last day) you have to complete the experiment final survey.
        <a href="http://goo.gl/kXQ3wy" target="_blank">goo.gl/kXQ3wy</a>
        <br>
        <br>
        Then you have to insert all the tokens you received into this form:
        <br>
        <a href="https://docs.google.com/forms/d/1Z8HbFdFRbn09NFuQmetSp8bX1HJqt86_MK_dR8UMwz8/viewform" target="_blank">https://docs.google.com/forms/d/1Z8HbFdFRbn09NFuQmetSp8bX1HJqt86_MK_dR8UMwz8/viewform</a>
        </p>
        <br>
        <br>
        <br>

       
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        
    </div>

{% endblock %}
