{% extends "layout.html" %}
{% block body %}
  <h1>Registration done!</h1>

  <br>
  <br>
  <h3 align="center">Please remember your ID</h3>
  <br>
  <h2 align="center">>>> Your ID is {{userUuid}} <<<<</h2>
  <br>
  <br>
  <br>
  
  

  <div class="alert alert-block" align="center">
    <h4 align="center">The experiment is already started!</h4>
    <br>
    You need to perform the first task before the end of this day!
    <br>
    <br>
    <a href="/login"><button type="submit" class="btn btn-large btn-primary">LOGIN NOW!</button></a>
  </div>

  <br>
  <br>
  <br>
  
    <br>
  <br>
  <br>
  
    <br>
  <br>
  <br>
  
  

{% endblock %}
